include ../PUG-Bootstrap/_bootstrap

html
    title= 'poster'
    script(src="node_modules/jquery/dist/jquery.js")
    script(src="public/javascripts/update.js")

    body
        .row(style="margin:0;")
            .col-md-2
            div(id="blogs" class="col-md-8")



